In [1]:
prices = [250, 300, "240", 400]
total = sum(prices)
print(total)
print("Happy shopping")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
prices = [250, 300, "240", 400]
try:
  #block that may cause an exception
  total = sum(prices)
  print(total)

except TypeError:
  # to perform if there is an exception
  print("Invalid data type")

print("Happy Shopping")

Invalid data type
Happy Shopping

In [3]:
color = "Green"
try:
  print(color)
except NameError:
  print("Check the variable name")

Green

In [4]:
color = "Green"
try:
  print(size)
except NameError:
  print("Check the variable name")

Check the variable name

In [5]:
try:
  print(len(5))
except NameError:
  print("Variable is not defined")
except TypeError:
  print("Not iterable")

Not iterable

In [6]:
try:
  print(3 + "3")
except ValueError:
  print("Cannot add different types")
except TypeError:
  print("Type mismatch error")

Type mismatch error

In [7]:
try:
  print(len(3745))
except:
  print("Error")
finally:
  print("Save")

Error
Save

In [8]:
products = ['ball', 'toy', 'paper']
try:
  count = len(products)
except:
 print("Error")
else:
  print("Count of products:", count)

Count of products: 3

In [9]:
price = 995
if price > 500:
  raise ValueError

ValueError:

In [10]:
temp = -15
if temp > 50 or temp < -10:
  raise ValueError("Invalid range")

ValueError: Invalid range

In [11]:
color = "Green"
try:
  print(color)
except NameError:
  print("Check the variable name")

Green

In [12]:
color = "Green"
try:
  print(size)
except NameError:
  print("Check the variable name")

Check the variable name

In [13]:
try:
  print(len(5))
except NameError:
  print("Variable is not defined")
except TypeError:
  print("Not iterable")

Not iterable